secrets.py
local_settings.py

.DS_Store
vue-frontend/node_modules/

# Editor directories and files
.vscode

# PyInstaller
*.manifest
*.spec

### Django ###
*.log
*.pot
*.pyc
__pycache__/

.env
db.sqlite3